extends layout

block content
  h1 My shopping Cart
  - var total=0;
    table.table
      thead
        th Name
        th Price
        th Actions
      tbody
        each item in cart
          - total += Number(item.price)
          tr
            td=item.name
            td=item.price
            td 
              if product.rating > 0
                  span(class="fa fa-star checked")
              else 
                  span(class="fa fa-star unchecked")
              if product.rating > 1
                  span(class="fa fa-star checked")
              else 
                  span(class="fa fa-star unchecked")
              if product.rating > 2
                  span(class="fa fa-star checked")
              else 
                  span(class="fa fa-star unchecked")
              if product.rating > 3
                  span(class="fa fa-star checked")
              else 
                  span(class="fa fa-star unchecked")
              if product.rating > 4
                  span(class="fa fa-star checked")
              else 
                  span(class="fa fa-star unchecked")
            td
              a(href="/products/cart/remove/"+item._id, class="btn btn-danger") Remove Item
      tfoot
        tr
          td Total
          td=total